$slate-gray: #628395ff;
$indigo-100: #6610f2;
$purple-200: #b49bdf;
$purple-300: #9a78d4;
$white:    #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black:    #000;

.header {
  background-color: $purple-300;
}

.aboutme {
  text-align: center;
  color: $purple-300;
  font-weight: 700;
  font-size: 80px;
  text-decoration: underline;
  line-height: 2;
  font-family: Georgia, 'Times New Roman', Times, serif;
  
}

.aboutmeinfo {
  text-align: right;
  font-family: 'Courier New', Courier, monospace;
  line-height: 40px;
  font-size: 20px;
}

img {
  border-radius: 50%;
}

.row {
  text-align: right;
  max-width: 1000px;
  display: flex;
  align-items: center;
  flex-direction:row-reverse;
}

.hello {
  font-size: 60px;
  line-height: normal;
}

.name {
  font-size: 50px;
  font-family:'Courier New', Courier, monospace;
}

.contact {
  font-family: 'Courier New', Courier, monospace;
  font-weight: 800;
  text-align: center;
}

.social-icons {
  width: 35px;
  height: 35px;
  margin: 0 15px 5px 0;
  color: #000;
}

.project-items{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

.project-display {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  position: relative;
  text-align: center;
  overflow-x: visible;
  overflow-y: hidden;
  margin: 15px;
  width: 90%;
  height: 175px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.6s cubic-bezier(.25, .8, .25, 1);
}

.project-display:hover {
  filter: brightness(107%);
  border-radius: 5px;
  transform: scale(1.15);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.project-image {
  position: absolute;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  top: 0;
  max-width: 100%;
}

.hidden:hover{
  opacity: 100;
  background: linear-gradient(#ffffffb5, #e7e9ebc2);

}
.project-title {
  color: #1F292C;
  font-size: 19px;
  letter-spacing: 1px;
  margin: 15px 0 3px 0;
}

.project-description {
  color:#9a78d4;
  font-size: 16px;
  line-height: 16px;
  margin:20px;
}

.portfolio-link{
  color: black;
  font-size: 14px;
  margin-bottom: 13px;
}

.links {
  margin-left: 20px;
}